<section id="checkout-cart-info" class="main-section">
    <container id="checkout-cart-prices">
        <span class="checkout-detail-heading">YOUR ORDER</span>
        {{--  @each(item in cart.items)
            <div class="checkout-detail-wrapper">
                <span class="checkout-detail-item">{{item.name}}</span>
                <span class="checkout-detail-item">$ {{item.price}}</span>
            </div>
        @end  --}}

        {{s}}
    <container>

</section>