@layout('layouts/main')
@set('title', 'Checkout')

@section('body')
  <container class="main-cont">
    @!component('components/customer-info')
    @!component('components/cart-info')
  </container>
@end
