@layout('layouts/main')
@set('title', 'Checkout')

@section('body')
  <style>
    .main-cont{
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }

    a{
      margin: 20px;
    }
  </style>
  <container class="main-cont">
    <a href="/bacon">Bacon page</a>
    <a href="/checkout">Checkout page</a>
  </container>
@end
